/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(basemod.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox .back, .xbox .start {
    background: url(start-select.png);
    width: 33px;
    height: 33px;
    opacity: 0;
}
